.hidden {
    display: none;
    font-family: 'Times New Roman', Times, serif;
}

.radio-align {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;

}

.answer {
    font-weight: bold;
}

.question {
    font-style: oblique;
}

#question2 {
    font-style: oblique;
}

#question3 {
    font-style: oblique;
}

#question4 {
    font-style: oblique;
}

#question5 {
    font-style: oblique;
}

#resultRetry {
    font-style: oblique;
    font-size: larger;
}